@model Page
@{
    ViewData["Title"] = "Projects";
}

@Html.Raw(Model?.Content)

    <section id="work">
        <h2 class="text-center">Work</h2>
        <div class="row">
            <p class="text-center tag-line">Here are few of my former clients.</p>
        </div>


        <div class="row work-row">
            <!-- nep -->
            <div class="small-12 medium-6 medium-push-6 columns">
                <img src="assets/images/project1.png" alt="">
            </div>
            <div class="small-12 medium-5 medium-pull-7 columns">
                <div class="details details-ftm">
                    <h3>Curabitur Tech</h3>
                    <p class="platform">Web</p>
                    <p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i class="fi-mobile"></i></p>
                    <p>Curabitur Tech is id eros nisl. Cras id bibendum dolor. Quisque ultrices posuere ante sit amet varius.</p>
                    <a class="my-button" target="_blank" href="http://google.com">Visit Website</a>
                </div>
            </div>
        </div>

        <div class="row work-row">
            <!-- par -->
            <div class="small-12 medium-6 columns">
                <img src="assets/images/project2.png" alt="">
            </div>
            <div class="small-12 medium-5 medium-offset-1 columns">
                <div class="details details-ftm">
                    <h3>AwesomeTechSmth</h3>
                    <p class="platform">Web</p>
                    <p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i class="fi-mobile"></i></p>
                    <p>GreatTechSmth is venenatis porta dolor sit amet vestibulum.</p>
                    <a class="my-button" target="_blank" href="http://google.com">Visit Website</a>
                </div>
            </div>
        </div>

        <div class="row work-row">
            <!-- nep -->
            <div class="small-12 medium-6 medium-push-6 columns">
                <img src="assets/images/project3.png" alt="">
            </div>
            <div class="small-12 medium-5 medium-pull-7 columns">
                <div class="details details-ftm">
                    <h3>Suspendisse Cars</h3>
                    <p class="platform">Web</p>
                    <p class="icons"><i class="fi-monitor"></i><i class="fi-tablet-portrait"></i><i class="fi-mobile"></i></p>
                    <p>Suspendisse Cars pulvinar magna a mattis maximus.</p>
                    <a class="my-button" target="_blank" href="http://google.com">Visit Website</a>
                </div>
            </div>
        </div>
    </section>
