
@model Page
@{
    ViewData["Title"] = "Contact";
}

@Html.Raw(Model?.Content)

    <section id="footer-cta">
        <h2 class="text-center">Wanna work with me?</h2>
        <p></p>
        <div class="row text-center">
            <div class="small-12 medium-8 medium-offset-2 columns">
                <p class="text-center">I'm currently available for work.</p>
            </div>
            <div class="small-12 columns" id="startButtonDiv">
                <a class="my-button form-button" href="mailto:mario.bilic4@gmail.com">Start Now</a>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="small-12 column">
            <div class="cta text-center">
                <a class="my-button cta-button expand form-button" href="mailto:mario.bilic4@gmail.com">Get In Touch</a>
            </div>
        </div>
        <div class="small-12 column">
            <div class="my-arrow-div text-center">
                <a href="https://github.com/mariob04/"><i class="fa fa-github-alt fa-2x"></i></a>
                <a href="https://www.facebook.com/bilicm?ref=bookmarks"><i class="fa fa-facebook fa-2x"></i></a>

            </div>
        </div>
    </div>
