@model Page
@{
    ViewData["Title"] = "Home Page";
}

@Html.Raw(Model?.Content)

    <div class="wrapper">

        <section id="about">
            <div class="row">
                <div class="small-12 large-8 large-offset-2 columns text-center">
                    <div class="profile-photo" style="background-image: url(~/imgs/dddddd.JPG);">
                    </div>
                    <div class="details">
                        <h2>Hi, I'm Mario. I...<br> <span id="writing-text"></span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <div class="cta text-center">
                        <a class="my-button cta-button expand form-button" href="mailto:mario.bilic4@gmail.com">Get In Touch</a>
                    </div>
                </div>
                <div class="small-12 column">
                    <div class="my-arrow-div text-center">
                        <a href="https://github.com/mariob04/"><i class="fa fa-github-alt fa-2x"></i></a>
                        <a href="https://www.facebook.com/bilicm?ref=bookmarks"><i class="fa fa-facebook fa-2x"></i></a>

                    </div>
                </div>
            </div>
        </section>

    </div>